@font-face {
  font-family: 'icons';
  src:  url('/static/icons/icons.eot?m5qzi4');
  src:  url('/static/icons/icons.eot?m5qzi4#iefix') format('embedded-opentype'),
  url('/static/icons/icons.ttf?m5qzi4') format('truetype'),
  url('/static/icons/icons.woff?m5qzi4') format('woff'),
  url('/static/icons/icons.svg?m5qzi4#geo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  line-height: 1;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  font-family: 'icons', sans-serif !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-quotes-right:before {
  content: "\ea51";
}
.i-quotes-left:before {
  content: "\ea52";
}
.i-whatsapp:before {
  content: "\ea58";
}
.i-brand:before {
  content: "\ea58";
}
.i-social:before {
  content: "\ea58";
}
.i-youtube-solid:before {
  content: "\e9ac";
}
.i-youtube:before {
  content: "\ea25";
}
.i-facebook:before {
  content: "\ea0e";
}
.i-codepen:before {
  content: "\e999";
}
.i-linkedin:before {
  content: "\e9c5";
}
.i-instagram:before {
  content: "\e9c1";
}
.i-github:before {
  content: "\e9ba";
}
.i-gitlab:before {
  content: "\e9bb";
}
.i-git:before {
  content: "\ea2a";
}
.i-github-circle:before {
  content: "\ea2e";
}
.i-vk:before {
  content: "\e988";
}
.i-safari:before {
  content: "\ea2f";
}
.i-edge:before {
  content: "\ea30";
}
.i-ie:before {
  content: "\ea31";
}
.i-firefox:before {
  content: "\ea32";
}
.i-chrome:before {
  content: "\ea33";
}
.i-paypal:before {
  content: "\ea34";
}
.i-pinterest:before {
  content: "\ea35";
}
.i-stackoverflow:before {
  content: "\ea36";
}
.i-linkedin-solid:before {
  content: "\ea37";
}
.i-wikipedia:before {
  content: "\ea38";
}
.i-skype:before {
  content: "\ea39";
}
.i-soundcloud:before {
  content: "\ea3a";
}
.i-windows:before {
  content: "\ea3b";
}
.i-android:before {
  content: "\ea3c";
}
.i-apple:before {
  content: "\ea3d";
}
.i-linux:before {
  content: "\ea3e";
}
.i-blogger:before {
  content: "\ea3f";
}
.i-wordpress:before {
  content: "\ea40";
}
.i-spotify:before {
  content: "\ea41";
}
.i-google-drive:before {
  content: "\ea42";
}
.i-onedrive:before {
  content: "\ea43";
}
.i-steam:before {
  content: "\ea44";
}
.i-behance:before {
  content: "\ea45";
}
.i-dribbble:before {
  content: "\ea46";
}
.i-vimeo:before {
  content: "\ea47";
}
.i-twitch:before {
  content: "\ea48";
}
.i-vine:before {
  content: "\ea49";
}
.i-twitter:before {
  content: "\ea4a";
}
.i-google:before {
  content: "\ea4b";
}
.i-telegram:before {
  content: "\ea4c";
}
.i-amazon:before {
  content: "\ea4d";
}
.i-circle-grid-sm:before {
  content: "\ea56";
}
.i-circle-grid-solid:before {
  content: "\ea57";
}
.i-circle-grid:before {
  content: "\ea59";
}
.i-weight:before {
  content: "\ea5a";
}
.i-border-radius:before {
  content: "\ea5b";
}
.i-align-right:before {
  content: "\ea5c";
}
.i-align-center:before {
  content: "\ea5d";
}
.i-align-left:before {
  content: "\ea5e";
}
.i-align-bottom:before {
  content: "\ea5f";
}
.i-align-middle:before {
  content: "\ea60";
}
.i-align-top:before {
  content: "\ea61";
}
.i-ad:before {
  content: "\ea53";
}
.i-activity:before {
  content: "\e900";
}
.i-arrow-left:before {
  content: "\e901";
}
.i-arrow-right:before {
  content: "\e902";
}
.i-at-sign:before {
  content: "\e903";
}
.i-menu-simple:before {
  content: "\e904";
}
.i-menu:before {
  content: "\e905";
}
.i-close:before {
  content: "\e906";
}
.i-check:before {
  content: "\e907";
}
.i-chevron-down:before {
  content: "\e908";
}
.i-chevron-down-solid:before {
  content: "\ea62";
}
.i-chevron-left:before {
  content: "\e909";
}
.i-chevron-left-solid:before {
  content: "\ea63";
}
.i-chevron-right:before {
  content: "\e90a";
}
.i-chevron-right-solid:before {
  content: "\ea64";
}
.i-chevron-up:before {
  content: "\e90b";
}
.i-chevron-up-solid:before {
  content: "\ea65";
}
.i-clock:before {
  content: "\e90c";
}
.i-code:before {
  content: "\e90d";
}
.i-compass:before {
  content: "\e90e";
}
.i-copy:before {
  content: "\e90f";
}
.i-copy-solid:before {
  content: "\e95c";
}
.i-copy-2-solid:before {
  content: "\e95b";
}
.i-credit-card:before {
  content: "\e910";
}
.i-external-link:before {
  content: "\e911";
}
.i-filter:before {
  content: "\e912";
}
.i-gift:before {
  content: "\e913";
}
.i-globe:before {
  content: "\e914";
}
.i-grid:before {
  content: "\e915";
}
.i-grid-solid:before {
  content: "\e955";
}
.i-help-circle:before {
  content: "\e916";
}
.i-home:before {
  content: "\e917";
}
.i-home-2-solid:before {
  content: "\e94b";
}
.i-home-solid:before {
  content: "\e94a";
}
.i-image:before {
  content: "\e918";
}
.i-image-2-solid:before {
  content: "\e953";
}
.i-image-solid:before {
  content: "\e954";
}
.i-layers:before {
  content: "\e919";
}
.i-layers-solid:before {
  content: "\e952";
}
.i-link:before {
  content: "\e91a";
}
.i-link-2:before {
  content: "\e91b";
}
.i-loader:before {
  content: "\e91c";
}
.i-lock:before {
  content: "\e91d";
}
.i-mail:before {
  content: "\e91e";
}
.i-map:before {
  content: "\e91f";
}
.i-map-pin:before {
  content: "\e920";
}
.i-map-pin-solid:before {
  content: "\e961";
}
.i-maximize:before {
  content: "\e921";
}
.i-minimize:before {
  content: "\e922";
}
.i-minus:before {
  content: "\e923";
}
.i-plus:before {
  content: "\e928";
}
.i-more-horizontal:before {
  content: "\e924";
}
.i-more-vertical:before {
  content: "\e925";
}
.i-move:before {
  content: "\e926";
}
.i-paperclip:before {
  content: "\e927";
}
.i-printer:before {
  content: "\e929";
}
.i-rotate-cw:before {
  content: "\e92a";
}
.i-search:before {
  content: "\e92b";
}
.i-send:before {
  content: "\e92c";
}
.i-server:before {
  content: "\e92d";
}
.i-share:before {
  content: "\e92e";
}
.i-shield:before {
  content: "\e92f";
}
.i-shield-off:before {
  content: "\e9f1";
}
.i-shuffle:before {
  content: "\e930";
}
.i-terminal:before {
  content: "\e931";
}
.i-upload:before {
  content: "\e948";
}
.i-download:before {
  content: "\e933";
}
.i-bell:before {
  content: "\e934";
}
.i-bell-solid:before {
  content: "\e95f";
}
.i-bell-off:before {
  content: "\e983";
}
.i-book-open:before {
  content: "\e935";
}
.i-box:before {
  content: "\e936";
}
.i-box-solid:before {
  content: "\ea4e";
}
.i-calendar:before {
  content: "\e937";
}
.i-camera:before {
  content: "\e938";
}
.i-camera-solid:before {
  content: "\e95d";
}
.i-camera-off:before {
  content: "\e98a";
}
.i-chevrons-left:before {
  content: "\e939";
}
.i-chevrons-right:before {
  content: "\e93a";
}
.i-crop:before {
  content: "\e93b";
}
.i-database:before {
  content: "\e93c";
}
.i-download-cloud:before {
  content: "\e93d";
}
.i-droplet:before {
  content: "\e93e";
}
.i-edit-2:before {
  content: "\e93f";
}
.i-edit-solid:before {
  content: "\e950";
}
.i-edit:before {
  content: "\e9a8";
}
.i-edit-3:before {
  content: "\e9a9";
}
.i-feather:before {
  content: "\e9ae";
}
.i-hash:before {
  content: "\e942";
}
.i-log-in:before {
  content: "\e943";
}
.i-log-out:before {
  content: "\e944";
}
.i-minus-circle:before {
  content: "\e9cd";
}
.i-minus-square:before {
  content: "\e9ce";
}
.i-plus-circle:before {
  content: "\e945";
}
.i-plus-circle-solid:before {
  content: "\e980";
}
.i-close-circle:before {
  content: "\ea23";
}
.i-close-circle-solid:before {
  content: "\e963";
}
.i-close-square:before {
  content: "\ea24";
}
.i-alert-circle:before {
  content: "\e967";
}
.i-alert-circle-solid:before {
  content: "\e962";
}
.i-alert-triangle:before {
  content: "\e969";
}
.i-alert-octagon:before {
  content: "\e968";
}
.i-help-circle-solid:before {
  content: "\e964";
}
.i-info:before {
  content: "\e9c0";
}
.i-check-circle:before {
  content: "\e98c";
}
.i-check-square:before {
  content: "\e98d";
}
.i-circle:before {
  content: "\e991";
}
.i-circle-solid:before {
  content: "\ea4f";
}
.i-chrome1:before {
  content: "\e990";
}
.i-trash-2:before {
  content: "\e947";
}
.i-user:before {
  content: "\e965";
}
.i-airplay:before {
  content: "\e966";
}
.i-text-center:before {
  content: "\e96a";
}
.i-text-justify:before {
  content: "\e96b";
}
.i-text-left:before {
  content: "\e96c";
}
.i-text-right:before {
  content: "\e96d";
}
.i-anchor:before {
  content: "\e96e";
}
.i-aperture:before {
  content: "\e96f";
}
.i-archive:before {
  content: "\e970";
}
.i-arrow-down:before {
  content: "\e971";
}
.i-arrow-down-circle:before {
  content: "\e972";
}
.i-arrow-down-left:before {
  content: "\e973";
}
.i-arrow-down-right:before {
  content: "\e974";
}
.i-arrow-left-circle:before {
  content: "\e975";
}
.i-arrow-right-circle:before {
  content: "\e976";
}
.i-arrow-up:before {
  content: "\e977";
}
.i-arrow-up-circle:before {
  content: "\e978";
}
.i-arrow-up-left:before {
  content: "\e979";
}
.i-arrow-up-right:before {
  content: "\e97a";
}
.i-award:before {
  content: "\e97b";
}
.i-award-solid:before {
  content: "\e960";
}
.i-bar-chart:before {
  content: "\e97d";
}
.i-bar-chart-2:before {
  content: "\e97e";
}
.i-battery:before {
  content: "\e981";
}
.i-battery-charging:before {
  content: "\e982";
}
.i-bluetooth:before {
  content: "\e984";
}
.i-bold:before {
  content: "\e985";
}
.i-book:before {
  content: "\e986";
}
.i-bookmark:before {
  content: "\e987";
}
.i-bookmark-solid:before {
  content: "\e95e";
}
.i-briefcase:before {
  content: "\e989";
}
.i-cast:before {
  content: "\e98b";
}
.i-chevrons-down:before {
  content: "\e98e";
}
.i-chevrons-up:before {
  content: "\e98f";
}
.i-clipboard:before {
  content: "\e992";
}
.i-upload-cloud:before {
  content: "\e949";
}
.i-cloud:before {
  content: "\e993";
}
.i-cloud-drizzle:before {
  content: "\e994";
}
.i-cloud-lightning:before {
  content: "\e995";
}
.i-cloud-off:before {
  content: "\e996";
}
.i-cloud-rain:before {
  content: "\e997";
}
.i-cloud-snow:before {
  content: "\e998";
}
.i-command:before {
  content: "\e99a";
}
.i-corner-down-left:before {
  content: "\e99b";
}
.i-corner-down-right:before {
  content: "\e99c";
}
.i-corner-left-down:before {
  content: "\e99d";
}
.i-corner-left-up:before {
  content: "\e99e";
}
.i-corner-right-down:before {
  content: "\e99f";
}
.i-corner-right-up:before {
  content: "\e9a0";
}
.i-corner-up-left:before {
  content: "\e9a1";
}
.i-corner-up-right:before {
  content: "\e9a2";
}
.i-cpu:before {
  content: "\e9a3";
}
.i-crosshair:before {
  content: "\e9a4";
}
.i-delete:before {
  content: "\e9a5";
}
.i-disc:before {
  content: "\e9a6";
}
.i-life-buoy:before {
  content: "\e9c4";
}
.i-dollar-sign:before {
  content: "\e9a7";
}
.i-eye:before {
  content: "\e9aa";
}
.i-eye-solid:before {
  content: "\e94f";
}
.i-eye-off:before {
  content: "\e9ab";
}
.i-eye-off-solid:before {
  content: "\e94e";
}
.i-fast-forward:before {
  content: "\e9ad";
}
.i-file:before {
  content: "\e940";
}
.i-file-minus:before {
  content: "\e9af";
}
.i-file-plus:before {
  content: "\e9b0";
}
.i-file-text:before {
  content: "\e9b1";
}
.i-film:before {
  content: "\e9b2";
}
.i-flag:before {
  content: "\e9b3";
}
.i-folder:before {
  content: "\e941";
}
.i-folder-solid:before {
  content: "\e94d";
}
.i-folder-minus:before {
  content: "\e9b4";
}
.i-folder-plus:before {
  content: "\e9b5";
}
.i-git-branch:before {
  content: "\e9b6";
}
.i-git-commit:before {
  content: "\e9b7";
}
.i-git-merge:before {
  content: "\e9b8";
}
.i-git-pull-request:before {
  content: "\e9b9";
}
.i-hard-drive:before {
  content: "\e9bc";
}
.i-headphones:before {
  content: "\e9bd";
}
.i-heart:before {
  content: "\e9be";
}
.i-heart-solid:before {
  content: "\e94c";
}
.i-inbox:before {
  content: "\e9bf";
}
.i-italic:before {
  content: "\e9c2";
}
.i-layout:before {
  content: "\e9c3";
}
.i-list:before {
  content: "\e9c6";
}
.i-maximize-2:before {
  content: "\e9c7";
}
.i-message-circle:before {
  content: "\e9c8";
}
.i-message-solid:before {
  content: "\e951";
}
.i-message-square:before {
  content: "\e9c9";
}
.i-mic:before {
  content: "\e9ca";
}
.i-mic-off:before {
  content: "\e9cb";
}
.i-minimize-2:before {
  content: "\e9cc";
}
.i-monitor:before {
  content: "\e9cf";
}
.i-moon:before {
  content: "\e9d0";
}
.i-music:before {
  content: "\e9d1";
}
.i-navigation:before {
  content: "\e9d2";
}
.i-navigation-2:before {
  content: "\e9d3";
}
.i-octagon:before {
  content: "\e9d4";
}
.i-package:before {
  content: "\e9d5";
}
.i-pause:before {
  content: "\e9d6";
}
.i-pause-circle:before {
  content: "\e9d7";
}
.i-percent:before {
  content: "\e9d8";
}
.i-phone:before {
  content: "\e9d9";
}
.i-phone-solid:before {
  content: "\e956";
}
.i-phone-call:before {
  content: "\e9da";
}
.i-phone-forwarded:before {
  content: "\e9db";
}
.i-phone-incoming:before {
  content: "\e9dc";
}
.i-phone-missed:before {
  content: "\e9dd";
}
.i-phone-off:before {
  content: "\e9de";
}
.i-phone-outgoing:before {
  content: "\e9df";
}
.i-pie-chart:before {
  content: "\e9e0";
}
.i-play:before {
  content: "\e9e1";
}
.i-play-circle:before {
  content: "\e9e2";
}
.i-plus-square:before {
  content: "\e9e3";
}
.i-pocket:before {
  content: "\e9e4";
}
.i-power:before {
  content: "\e9e5";
}
.i-radio:before {
  content: "\e9e6";
}
.i-refresh-ccw:before {
  content: "\e9e7";
}
.i-refresh-cw:before {
  content: "\e9e8";
}
.i-repeat:before {
  content: "\e9e9";
}
.i-rewind:before {
  content: "\e9ea";
}
.i-rotate-ccw:before {
  content: "\e9eb";
}
.i-rss:before {
  content: "\e9ec";
}
.i-save:before {
  content: "\e9ed";
}
.i-scissors:before {
  content: "\e9ee";
}
.i-sliders:before {
  content: "\e946";
}
.i-settings:before {
  content: "\e9ef";
}
.i-settings-solid:before {
  content: "\e958";
}
.i-share-2:before {
  content: "\e9f0";
}
.i-shopping-bag:before {
  content: "\e9f2";
}
.i-shopping-cart:before {
  content: "\e9f3";
}
.i-sidebar:before {
  content: "\e9f4";
}
.i-sidebar-solid:before {
  content: "\ea54";
}
.i-navbar:before {
  content: "\ea55";
}
.i-skip-back:before {
  content: "\e9f5";
}
.i-skip-forward:before {
  content: "\e9f6";
}
.i-slack:before {
  content: "\e9f7";
}
.i-slash:before {
  content: "\e9f8";
}
.i-smartphone:before {
  content: "\e9f9";
}
.i-speaker:before {
  content: "\e9fa";
}
.i-square:before {
  content: "\e9fb";
}
.i-square-solid:before {
  content: "\ea50";
}
.i-star:before {
  content: "\e9fc";
}
.i-star-solid:before {
  content: "\ea29";
}
.i-stop-circle:before {
  content: "\e9fd";
}
.i-sun:before {
  content: "\e9fe";
}
.i-sun-solid:before {
  content: "\e97f";
}
.i-sunrise:before {
  content: "\e9ff";
}
.i-sunset:before {
  content: "\ea00";
}
.i-moon-solid:before {
  content: "\e957";
}
.i-tablet:before {
  content: "\ea01";
}
.i-tag:before {
  content: "\ea02";
}
.i-target:before {
  content: "\ea03";
}
.i-thermometer:before {
  content: "\ea04";
}
.i-thumbs-up:before {
  content: "\e932";
}
.i-thumbs-down:before {
  content: "\ea05";
}
.i-toggle-left:before {
  content: "\ea06";
}
.i-toggle-right:before {
  content: "\ea07";
}
.i-trash:before {
  content: "\ea08";
}
.i-trending-down:before {
  content: "\ea09";
}
.i-trending-up:before {
  content: "\ea0a";
}
.i-triangle:before {
  content: "\ea0b";
}
.i-truck:before {
  content: "\ea0c";
}
.i-tv:before {
  content: "\ea0d";
}
.i-type:before {
  content: "\ea0f";
}
.i-umbrella:before {
  content: "\ea10";
}
.i-underline:before {
  content: "\ea11";
}
.i-unlock:before {
  content: "\ea12";
}
.i-user-check:before {
  content: "\ea13";
}
.i-user-minus:before {
  content: "\ea14";
}
.i-user-plus:before {
  content: "\ea15";
}
.i-user-x:before {
  content: "\ea16";
}
.i-users:before {
  content: "\ea17";
}
.i-profile:before {
  content: "\e97c";
}
.i-profile-2-solid:before {
  content: "\e95a";
}
.i-profile-solid:before {
  content: "\e959";
}
.i-video:before {
  content: "\ea18";
}
.i-video-off:before {
  content: "\ea19";
}
.i-voicemail:before {
  content: "\ea1a";
}
.i-volume:before {
  content: "\ea1b";
}
.i-volume-1:before {
  content: "\ea1c";
}
.i-volume-2:before {
  content: "\ea1d";
}
.i-volume-x:before {
  content: "\ea1e";
}
.i-watch:before {
  content: "\ea1f";
}
.i-wifi:before {
  content: "\ea20";
}
.i-wifi-off:before {
  content: "\ea21";
}
.i-wind:before {
  content: "\ea22";
}
.i-zap:before {
  content: "\ea26";
}
.i-zap-off:before {
  content: "\ea27";
}
.i-zoom-in:before {
  content: "\ea28";
}
.i-zoom-out:before {
  content: "\ea2c";
}
.i-plus-18:before {
  content: "\ea2d";
}
.i-spin:before {
  content: "\ea2b";
}
