<template>
  <div class="home-page">

    <div class="canvas-wrap" ref="canvas">
      <bg-layout :params="params"/>
    </div>

    <page-menu :params="params"/>
  </div>
</template>

<script>
  import BgLayout from './components/background'
  import PageMenu from './components/menu'

  export default {
    name: 'AnimationRain',
    data () {
      return {
        params: {
          color: '#eb6c73',
          background: '#000',
          amount: 5000,
          speed: 0.05,
          lifetime: 200,
          direction: {x: -0.5, y: 1},
          size: 2,
          maxopacity: 1,
          randColor: true,
          acceleration: [5, 40]
        }
      }
    },
    methods: {
      fullScreen() {
        let element = this.$refs['canvas'];

        if(element.requestFullScreen)
          element.requestFullScreen();
        else if(element.mozRequestFullScreen)
          element.mozRequestFullScreen();
        else if(element.webkitRequestFullScreen)
          element.webkitRequestFullScreen();
      }
    },
    components: {
      BgLayout,
      PageMenu
    }
  }
</script>
