<template>
  <canvas class="canvas" :style="style"></canvas>
</template>

<script>

  import Noise from './noise'

  const TAU = 2 * Math.PI;
  const rand = n => n * Math.random();
  const randRange = n => n - rand(2 * n);

	export default {
		props: {
      params: Object
		},
		data() {
			return {
				particles: [],
        aFrame: undefined,
        tick: 0,
        simplex: new Noise()
			}
		},
    computed: {
		  style() {
		    return {
          background: this.params.background
        }
      },
      particlePropsLength() {
		    return this.params.particleCount * this.params.particlePropCount
      }
    },
    watch: {
		  'params.particleCount'() {
        this.generate();
      }
    },
		mounted() {
      this.$ = this.$el.getContext('2d');

      this.resize();
      this.generate();
      this.loop();

      window.addEventListener('resize', this.resize);
		},
		beforeDestroy() {

      if(this.aFrame)
        window.cancelAnimationFrame(this.aFrame);

			window.removeEventListener('resize', this.resize);
		},
		methods: {

			w() { return this.$el.clientWidth },
			h() { return this.$el.clientHeight },

      generate() {

        this.particles = new Float32Array(parseInt(this.particlePropsLength));

        for (let i = 0; i < this.particlePropsLength; i += this.params.particlePropCount)
          this.initParticle(i);
      },

			resize() {

			  if(this.aFrame)
          window.cancelAnimationFrame(this.aFrame);

				this.$el.width = this.w();
				this.$el.height = this.h();

        this.center = [0.5 * this.w(), 0.5 * this.h()];

        this.loop();
			},

			loop() {
        this.aFrame = requestAnimationFrame(() => { this.loop() });

				this.draw();
			},

      draw() {
        this.tick++;

        this.$.clearRect(0, 0, this.w(), this.h());

        this.drawParticles();
      },

      drawParticles() {
        let i;

        for (i = 0; i < this.particlePropsLength; i += this.params.particlePropCount)
          this.updateParticle(i);
      },

      updateParticle(i) {
        let i2=1+i, i3=2+i, i4=3+i, i5=4+i, i6=5+i, i7=6+i, i8=7+i, i9=8+i;
        let n, x, y, vx, vy, life, ttl, speed, x2, y2, radius, hue;

        x = this.particles[i];
        y = this.particles[i2];
        n = this.simplex.noise3D(x * this.params.xOff, y * this.params.yOff, this.tick * this.params.zOff) * this.params.noiseSteps * TAU;
        vx = this.lerp(this.particles[i3], Math.cos(n), 0.5);
        vy = this.lerp(this.particles[i4], Math.sin(n), 0.5);
        life = this.particles[i5];
        ttl = this.particles[i6];
        speed = this.particles[i7];
        x2 = x + vx * speed;
        y2 = y + vy * speed;
        radius = this.particles[i8];
        hue = this.particles[i9];

        this.drawParticle(x, y, x2, y2, life, ttl, radius, hue);

        life++;

        this.particles[i] = x2;
        this.particles[i2] = y2;
        this.particles[i3] = vx;
        this.particles[i4] = vy;
        this.particles[i5] = life;

        (this.checkBounds(x, y) || life > ttl) && this.initParticle(i);
      },

      checkBounds(x, y) {
        return(
          x > this.w() ||
          x < 0 ||
          y > this.h() ||
          y < 0
        );
      },

      initParticle(i) {
        let x, y, vx, vy, life, ttl, speed, radius, hue;

        x = rand(this.w());
        y = this.center[1] + randRange(this.params.rangeY);
        vx = 0;
        vy = 0;
        life = 0;
        ttl = this.params.baseTTL + rand(this.params.rangeTTL);
        speed = this.params.baseSpeed + rand(this.params.rangeSpeed);
        radius = this.params.baseRadius + rand(this.params.rangeRadius);
        hue = this.params.baseHue + rand(this.params.rangeHue);

        this.particles.set([x, y, vx, vy, life, ttl, speed, radius, hue], i);
      },

      drawParticle(x, y, x2, y2, life, ttl, radius, hue) {
        this.$.save();
        this.$.lineCap = 'round';
        this.$.lineWidth = radius;
        this.$.strokeStyle = `hsla(${hue},100%,60%,${this.fadeInOut(life, ttl)})`;
        this.$.beginPath();
        this.$.moveTo(x, y);
        this.$.lineTo(x2, y2);
        this.$.stroke()
        this.$.closePath();
        this.$.restore();
      },

			hexToRGBA(hex, alpha = 1) {

				if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
					let c = hex.substring(1).split('');

					if(c.length === 3)
						c= [c[0], c[0], c[1], c[1], c[2], c[2]];

					c = '0x'+c.join('');

					return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+', '+alpha+')';
				}

				throw new Error('Bad Hex');
			},

			random(min, max, round) {

				let rand = Math.random() * (max - min + 1) + min;

				if (round === true) return Math.floor(rand);
				else return rand;
			},

      getDistance(x, y) {
        let dx = this.w() / 2 - x;
        let dy = this.h() / 2 - y;
        return Math.sqrt((dx * dx) + (dy * dy));
      },

      lerp(n1, n2, speed) {
			  return (1 - speed) * n1 + speed * n2
      },

      fadeInOut(t, m) {
        let hm = 0.5 * m;
        return Math.abs((t + hm) % m - hm) / (hm);
      }
		}
	}
</script>
