<template>
  <div class="menu">
    <div class="menu-component">

      <menu-slider label="Particles Count" v-model="params.particleCount" :min="10" :max="2000"/>
      <menu-slider label="Particles Speed" v-model="speed" :min="1" :max="1000"/>
      <menu-slider label="Particles Color (HUE)" v-model="params.baseHue" :max="360"/>
      <menu-slider label="Particles Z" v-model="zOff"/>
    </div>

    <div class="menu-component">
      <menu-slider label="Canvas Size" v-model="params.rangeY" :max="1000"/>
      <menu-slider label="Noise Steps" v-model="params.noiseSteps"/>
      <menu-color label="Background Color" v-model="params.background"/>
    </div>

    <div class="menu-component">
      <div class="menu-row">
        <span class="menu-btn" @click="$parent.fullScreen">Open Fullscreen</span>
      </div>
    </div>
  </div>
</template>

<script>
  import MenuSlider from '../../_components/input/slider'
  import MenuSelect from '../../_components/input/select'
  import MenuText from '../../_components/input/text'
  import MenuTextarea from '../../_components/input/textarea'
  import MenuCheckbox from '../../_components/input/checkbox'
  import MenuColor from '../../_components/input/color'
  import MenuImage from '../../_components/input/image'
  import MenuNav from '../../_components/input/nav'

  export default {
    name: 'Menu',
    props: {
      params: Object
    },
    computed: {
      speed: {
        set(val) {
          this.params.baseSpeed = val * .01
        },
        get() {
          return Math.round(this.params.baseSpeed * 100);
        }
      },
      zOff: {
        set(val) {
          this.params.zOff = val * .00001
        },
        get() {
          return Math.round(this.params.zOff * 100000);
        }
      }
    },
    components: {
      MenuColor,
      MenuSelect,
      MenuSlider,
      MenuNav,
      MenuImage,
      MenuCheckbox,
      MenuTextarea,
      MenuText
    }
  }
</script>
