<template>
  <div class="menu">
    <div class="menu-component">

      <menu-slider label="Dot Count" v-model="params.count" :max="200"/>

      <menu-slider label="Dot Radius" v-model="params.radius" :max="10"/>

      <menu-slider label="Dot Speed" v-model="params.max_speed" :min="10" :max="200"/>

      <menu-slider label="Connect Radius" v-model="params.connect_radius" :max="400"/>

      <menu-color label="Dot Color" v-model="params.color"/>

      <menu-color label="Background Color" v-model="params.background"/>

<!--      <menu-text label="Text input" v-model="test_text"/>-->

<!--      <menu-textarea label="Textarea input" v-model="test_text"/>-->

<!--      <menu-checkbox label="Check Box" v-model="test_check"/>-->

<!--      <menu-select label="Select" v-model="test_select" :options="{value_1: 'Value 1', value_2: 'Value 2'}"/>-->

<!--      <menu-image label="Image input" :type="['image/jpeg', 'image/png', 'image/svg+xml']"/>-->

<!--      <menu-nav label="Nav" v-model="test_text" :menu="{value_1: 'align-left', value_2: 'align-center', value_3: 'align-right'}"/>-->
    </div>

    <div class="menu-component">
      <div class="menu-row">
        <span class="menu-btn" @click="$parent.fullScreen">Open Fullscreen</span>
      </div>
    </div>
  </div>
</template>

<script>
  import MenuSlider from '../../_components/input/slider'
  import MenuSelect from '../../_components/input/select'
  import MenuText from '../../_components/input/text'
  import MenuTextarea from '../../_components/input/textarea'
  import MenuCheckbox from '../../_components/input/checkbox'
  import MenuColor from '../../_components/input/color'
  import MenuImage from '../../_components/input/image'
  import MenuNav from '../../_components/input/nav'

  export default {
    name: 'Menu',
    props: {
      params: Object
    },
    methods: {},
    components: {
      MenuColor,
      MenuSelect,
      MenuSlider,
      MenuNav,
      MenuImage,
      MenuCheckbox,
      MenuTextarea,
      MenuText
    }
  }
</script>
