<template>
	<canvas class="canvas" :style="style"></canvas>
</template>

<script>
	export default {
		props: {
      params: Object
		},
		data() {
			return {
				particles: [],
        aFrame: undefined
			}
		},
    computed: {
		  style() {
		    return {
          background: this.params.background
        }
      }
    },
    watch: {
      'params.count'() {
        this.generate()
      },
      'params.size'() {
        this.particles = [];

        this.$.clearRect(0, 0, this.w(), this.h());

        this.generate()
      },
      'params.length'() {
        this.particles = [];

        this.$.clearRect(0, 0, this.w(), this.h());

        this.generate()
      }
    },
		mounted() {

			this.$ = this.$el.getContext('2d');

			this.resize();
      this.generate();

			window.addEventListener('resize', this.resize);
		},
		beforeDestroy() {

      if(this.aFrame)
        window.cancelAnimationFrame(this.aFrame);

			window.removeEventListener('resize', this.resize);
		},
		methods: {

			w() { return this.$el.clientWidth },
			h() { return this.$el.clientHeight },

			resize() {

			  if(this.aFrame)
          window.cancelAnimationFrame(this.aFrame);

				this.$el.width = this.w();
				this.$el.height = this.h();

        this.loop();
			},

			generate() {
        while(this.particles.length < this.params.count)
          this.particles.push( new Dot(this) )

        while(this.particles.length > this.params.count)
          this.particles.shift()
			},

			draw(){
        this.$.fillStyle = this.hexToRGBA(this.params.background, .1);
        this.$.fillRect(0, 0, this.w(), this.h());

        for (let i = 0; i < this.particles.length; i++)
          this.particles[i].update();
			},

			loop() {
        this.aFrame = requestAnimationFrame(() => { this.loop() });

				this.draw();
			},

			hexToRGBA(hex, alpha = 1) {

				if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
					let c = hex.substring(1).split('');

					if(c.length === 3)
						c= [c[0], c[0], c[1], c[1], c[2], c[2]];

					c = '0x'+c.join('');

					return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+', '+alpha+')';
				}

				throw new Error('Bad Hex');
			},

			random(min, max, round) {

				let rand = Math.random() * (max - min + 1) + min;

				if (round === true) return Math.floor(rand);
				else return rand;
			},

      getDistance(x, y) {
        let dx = this.w() / 2 - x;
        let dy = this.h() / 2 - y;
        return Math.sqrt((dx * dx) + (dy * dy));
      }
		}
	}

  class Dot {
    constructor($parent, x, y, num) {

      this.$parent = $parent;
      this.params = $parent.params;

      this.size = this.params.size;
      this.length = this.params.size + this.params.length;

      this.x = ~~(~~(Math.random() * $parent.w()) / this.size) * this.length;
      this.y = ~~(~~(Math.random() * $parent.h()) / this.size) * this.length;
    }

    update() {
      this.move();
      this.draw();
    }

    move() {

      let directions = ['u', 'r', 'd', 'l'],
        direction = directions[~~(Math.random() * directions.length)]

      if (this.x < 0) {
        this.x += this.length;
        return false;
      }

      if (this.x > this.$parent.w()) {
        this.x -= this.length;
        return false;
      }

      if (this.y < 0) {
        this.y += this.length;
        return false;
      }

      if (this.y > this.$parent.h()) {
        this.y -= this.length;
        return false;
      }

      switch (direction) {
        case 'u':
          this.y -= this.length;
          break;
        case 'r':
          this.x += this.length;
          break;
        case 'd':
          this.y += this.length;
          break;
        case 'l':
          this.x -= this.length;
          break;
        default:
          break;
      }
    }

    draw() {
      this.$parent.$.fillStyle = this.$parent.hexToRGBA(this.params.color);
      this.$parent.$.beginPath();
      this.$parent.$.fillRect(this.x, this.y, this.size, this.size);
      this.$parent.$.fillRect(this.x, this.y, this.size, this.size);
    }
  }
</script>
