.canvas-wrap{
  height: 100vh;
  display: block;
  overflow: hidden;
  background: #fff;
  position: relative;
  width: calc(100% - 240px);
  transition: max-width .5s;

  .canvas{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
  }
}

.menu{
  top: 0;
  right: 0;
  width: 240px;
  height: 100%;
  position: fixed;
  background: #fff;
  border-left: 1px solid #e5e5e5;

  .menu-text{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .05px;
  }

  .menu-row{
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;
  }

  .menu-bar{
    height: 32px;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    align-items: center;

    .menu-bar-nav{
      display: flex;

      .menu-bar-nav-btn{
        width: 32px;
        height: 32px;
        display: block;
        cursor: pointer;
        font-size: 11px;
        line-height: 32px;
        text-align: center;

        &:hover{
          background: #f2f2f2;
        }
      }
    }
  }

  .menu-title{
    font-size: 11px;
    line-height: 16px;
    font-weight: bold;
    text-transform: capitalize;
  }

  .menu-component{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
  }

  .menu-input{
    width: 100%;
    height: 32px;
    padding: 8px;
    font-size: 11px;
    line-height: 16px;
    border-radius: 2.5px;
    border: 1px solid #DDDDDD;

    &:focus{
      border-color: #56ccf2;
    }
  }

  textarea.menu-input{
    height: auto;
  }

  .menu-btn{
    width: 100%;
    height: 32px;
    display: block;
    cursor: pointer;
    font-size: 11px;
    line-height: 32px;
    text-align: center;
    border-radius: 2.5px;

    &:hover{
      background: #f2f2f2;
    }
  }

  .menu-color-input{
    width: 100%;
    overflow: hidden;
    border-radius: 2.5px;
    border: 1px solid #DDDDDD;

    .header{
      display: flex;
    }

    .menu-input{
      border: 0;
    }

    .preview{
      width: 32px;
      height: 32px;
      padding: 6px;
      cursor: pointer;
      position: relative;

      .color{
        width: 100%;
        height: 100%;
        display: block;
        background: #ddd;
        position: relative;
        border-radius: 2.5px;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
      }
    }

    .palette{
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .palette-col{
        padding: 6px;
        width: 14.285%;
      }

      .palette-item{
        width: 100%;
        display: block;
        cursor: pointer;
        position: relative;
        border-radius: 2.5px;
        padding-bottom: 100%;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);

        &:hover{
          box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
        }
      }
    }
  }

  .menu-select{
    margin-bottom: 8px;
  }

  .menu-image-input{
    width: 100%;
    cursor: pointer;
    position: relative;
    border-radius: 2.5px;
    padding-bottom: 56.25%;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.13);

    &.drag-over{
      &:after{
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        border-radius: 2.5px;
        border: 1px solid #2d9cdb;
      }

      .preview{
        opacity: .2;
      }
    }

    .preview{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 2.5px;
      background-size: cover;
      background-position: center;
      box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    }
  }

  .menu-nav{
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 2.5px;
    border: 1px solid #DDDDDD;

    .menu-nav-btn{
      width: 100%;
      height: 32px;
      display: block;
      cursor: pointer;
      font-size: 11px;
      line-height: 32px;
      text-align: center;

      &:hover{
        background: #f2f2f2;
      }

      &.active{
        color: #2d9cdb;
        background: fade_out(#56ccf2, .9);
      }

      &+.menu-nav-btn{
        border-left: 1px solid #DDDDDD;
      }
    }
  }

  .menu-slider{
    left: 9px;
    height: 30px;
    display: block;
    position: relative;
    width: calc(100% - 18px);

    .slider-road{
      top: 50%;
      left: -9px;
      height: 1px;
      display: block;
      overflow: hidden;
      background: #ddd;
      position: absolute;
      border-radius: 2px;
      width: calc(100% + 18px);
    }

    .slider-fill{
      top: 0;
      left: 0;
      height: 100%;
      display: block;
      background: #ddd;
      position: absolute;
    }

    .slider-handle{
      width: 18px;
      height: 18px;
      display: block;
      cursor: pointer;
      box-shadow: none;
      background: #fff;
      position: absolute;
      border-radius: 50%;
      top: calc(50% - 9px);
      border: 2px solid #2d9cdb;
      transform: translateX(-50%);
      transition: box-shadow .3s;
    }
  }
}
