<template>
  <div class="home-page">

    <div class="canvas-wrap" ref="canvas">
      <bg-layout :params="params"/>
    </div>

    <page-menu :params="params"/>
  </div>
</template>

<script>
  import BgLayout from './components/background'
  import PageMenu from './components/menu'

  export default {
    name: 'AnimationWaves',
    data () {
      return {
        params: {
          count: 10,
          size: 5,
          length: 2,
          color: '#5d9bff',
          background: '#333'
        }
      }
    },
    methods: {
      fullScreen() {
        let element = this.$refs['canvas'];

        if(element.requestFullScreen)
          element.requestFullScreen();
        else if(element.mozRequestFullScreen)
          element.mozRequestFullScreen();
        else if(element.webkitRequestFullScreen)
          element.webkitRequestFullScreen();
      }
    },
    components: {
      BgLayout,
      PageMenu
    }
  }
</script>
