<template>
	<canvas class="canvas" :style="style"></canvas>
</template>

<script>
	export default {
		props: {
      params: Object
		},
		data() {
			return {
				particles: [],
        aFrame: undefined
			}
		},
    computed: {
		  style() {
		    return {
          background: this.params.background
        }
      }
    },
    watch: {
		  'params.wavelength'() {
        this.resize();
      },
		  'params.spaceDiameter'() {
        this.resize();
      }
    },
		mounted() {

			this.$ = this.$el.getContext('2d');

			this.resize();

			window.addEventListener('resize', this.resize);
		},
		beforeDestroy() {

      if(this.aFrame)
        window.cancelAnimationFrame(this.aFrame);

			window.removeEventListener('resize', this.resize);
		},
		methods: {

			w() { return this.$el.clientWidth },
			h() { return this.$el.clientHeight },

			resize() {

			  if(this.aFrame)
          window.cancelAnimationFrame(this.aFrame);

				this.$el.width = this.w();
				this.$el.height = this.h();

        this.generate();
			},

			generate() {
        this.particles = [];

        const dotsCountX = this.w() / this.params.spaceDiameter | 0;
        const dotsCountY = this.h() / this.params.spaceDiameter | 0;
        const startX = (this.params.spaceDiameter + this.w() - dotsCountX * this.params.spaceDiameter) / 2;
        const startY = (this.params.spaceDiameter + this.h() - dotsCountY * this.params.spaceDiameter) / 2;

        let displacement = this.params.spaceDiameter / 4 * this.params.displacement;

        for ( let j = 0; j < dotsCountY; j++) {
          displacement = - displacement;
          let y = startY + j * this.params.spaceDiameter;
          for (let i = 0; i < dotsCountX; i++) {
            let x = startX + i * this.params.spaceDiameter + displacement;
            this.particles.push(new Dot(this, x, y, j + i));
          }
        }

        this.loop();
			},

			draw(){
				this.$.clearRect(0, 0, this.w(), this.h());

				for (let i = 0, len = this.particles.length; i < len; i++)
					this.particles[i].update();
			},

			loop() {
        this.aFrame = requestAnimationFrame(() => { this.loop() });

				this.draw();
			},

			hexToRGBA(hex, alpha = 1) {

				if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
					let c = hex.substring(1).split('');

					if(c.length === 3)
						c= [c[0], c[0], c[1], c[1], c[2], c[2]];

					c = '0x'+c.join('');

					return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+', '+alpha+')';
				}

				throw new Error('Bad Hex');
			},

			random(min, max, round) {

				let rand = Math.random() * (max - min + 1) + min;

				if (round === true) return Math.floor(rand);
				else return rand;
			},

      getDistance(x, y) {
        let dx = this.w() / 2 - x;
        let dy = this.h() / 2 - y;
        return Math.sqrt((dx * dx) + (dy * dy));
      }
		}
	}

  class Dot {
    constructor($parent, x, y, num) {

      this.$parent = $parent;
      this.params = $parent.params;

      this.x = x;
      this.y = y;

      this.scale = this.$parent.getDistance(x, y) / this.params.wavelength;
      this.text = num;
    }

    update() {
      this.resize();
      this.draw();
    }

    resize() {
      this.scale = this.scale - this.params.velocity * this.params.direction;
    }

    draw() {
      let s = ( 1 - Math.abs(Math.sin(this.scale)));
      let r = (this.params.dotDiameter / 2) * s;

      this.$parent.$.beginPath();
      this.$parent.$.arc(this.x, this.y, r, 0, 2 * Math.PI, false);
      this.$parent.$.closePath();
      this.$parent.$.fillStyle = this.$parent.hexToRGBA(this.params.color, s);
      this.$parent.$.fill();
    }
  }
</script>
