<template>
  <div class="menu">
    <div class="menu-component">

      <menu-slider label="Canvas Size" v-model="params.spaceDiameter" :min="10" :max="100"/>
    </div>

    <div class="menu-component">

      <menu-slider label="Wave Size" v-model="params.wavelength" :min="50" :max="200"/>

      <menu-slider label="Wave Speed" v-model="speed" :max="500"/>
    </div>

    <div class="menu-component">

      <menu-slider label="Dot Size" v-model="params.dotDiameter" :max="params.spaceDiameter"/>

      <menu-color label="Dot Color" v-model="params.color"/>

      <menu-color label="Background Color" v-model="params.background"/>
    </div>

    <div class="menu-component">
      <div class="menu-row">
        <span class="menu-btn" @click="$parent.fullScreen">Open Fullscreen</span>
      </div>
    </div>
  </div>
</template>

<script>
  import MenuSlider from '../../_components/input/slider'
  import MenuSelect from '../../_components/input/select'
  import MenuText from '../../_components/input/text'
  import MenuTextarea from '../../_components/input/textarea'
  import MenuCheckbox from '../../_components/input/checkbox'
  import MenuColor from '../../_components/input/color'
  import MenuImage from '../../_components/input/image'
  import MenuNav from '../../_components/input/nav'

  export default {
    name: 'Menu',
    props: {
      params: Object
    },
    computed: {
      speed: {
        set(val) {
          this.params.velocity = val * .001
        },
        get() {
          return Math.round(this.params.velocity * 1000);
        }
      }
    },
    components: {
      MenuColor,
      MenuSelect,
      MenuSlider,
      MenuNav,
      MenuImage,
      MenuCheckbox,
      MenuTextarea,
      MenuText
    }
  }
</script>
