<template>
  <div class="menu-component-item">

    <div class="menu-bar">
      <span class="menu-title">{{label}}</span>

      <nav class="menu-bar-nav ml-auto">
        <span class="menu-bar-nav-btn" @click="_value = !_value"><i :class="_value ? 'i-check-square' : 'i-square'"></i></span>
      </nav>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MenuCheckbox',
    props: {
      label: String,
      value: Boolean
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    }
  }
</script>
