<template>
  <div class="menu-component-item">

    <div class="menu-bar" v-if="label">
      <span class="menu-title">{{label}}</span>
    </div>

    <div class="menu-row" style="padding-bottom: 8px;">
      <div class="menu-color-input" ref="input">

        <div class="header">
          <div class="preview">
            <span class="color" :style="{background: _value}" @click="active = !active"></span>
          </div>
          <input class="menu-input" type="text" aria-label="" v-model="_value" @click="active = true">
        </div>

        <perfect-scrollbar class="scroll-wrap" style="max-height: calc(31.5px * 6)" v-if="active">
          <div class="palette" v-if="active">
            <div class="palette-col" v-for="(bg, i) in colors" :key="i">
              <span class="palette-item" :style="{background: bg}" @click="setColor(bg)"></span>
            </div>
          </div>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MenuColor',
    props: {
      label: String,
      value: String
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    },
    data() {
      return {
        active: false,
        colors: [
          '#000000',
          '#333333',
          '#4f4f4f',
          '#828282',
          '#bdbdbd',
          '#e0e0e0',
          '#ffffff',

          '#eb5757',
          '#fc814a',
          '#ffd670',
          '#069e2d',
          '#2176ff',
          '#529cba',
          '#ff70a6',

          '#eb6c73',
          '#fc976a',
          '#ffe4a4',
          '#60c179',
          '#5d9bff',
          '#70d6ff',
          '#ff97be'
        ]
      }
    },
    mounted() {
      document.addEventListener("click", (e) => {

        let p = e.target;

        while(p)
        {
          if(p && p === this.$refs['input'])
            return;

          p = p.parentElement;
        }

        this.active = false;
      });
    },
    methods: {
      setColor(bg){
        this._value = bg;
        this.active = false;
      }
    }
  }
</script>
