<template>
  <div class="el-menu-component-item">

    <div class="el-menu-bar">
      <span class="el-menu-title">Color Palette</span>

      <nav class="el-menu-bar-nav ml-auto">
        <span class="el-menu-bar-nav-btn" @click="active = !active"><i class="i-circle-grid-sm"></i></span>
      </nav>
    </div>

    <div class="el-menu-palette" v-if="active">
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #333333"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #4f4f4f"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #828282"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #bdbdbd"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #e0e0e0"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #f2f2f2"></span></div>

      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #eb5757"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #f2994a"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #f2c94c"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #219653"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #27ae60"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #6fcf97"></span></div>

      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #2f80ed"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #2d9cdb"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #56ccf2"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #9b51e0"></span></div>
      <div class="el-menu-palette-col"><span class="el-menu-palette-item" style="background: #bb6bd9"></span></div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MenuColorPalette',
    props: {
      field: String
    },
    data() {
      return {
        active: false
      }
    },
    computed: {
      value: {
        get() {
          return this.$builder.state['fields'][this.field].value
        },
        set(val) {
          return this.$builder.state['fields'][this.field].value = val;
        }
      },
      label() {
        return this.$builder.state['fields'][this.field].label
      }
    }
  }
</script>
