<template>
  <div class="menu-component-item">

    <div class="menu-bar">
      <span class="menu-title">{{label}}</span>
    </div>

    <div class="menu-row" style="padding-bottom: 8px;">
      <div class="menu-image-input" ref="input" @click="target">
        <input type="file" ref="file" @change="onChange" hidden :multiple="multiple" :accept="type ? type.join(','): ''"/>
        <div class="preview" v-if="preview" :style="{backgroundImage: 'url('+preview+')'}"></div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MenuImage',
    props: {
      multiple: Boolean,
      type: Array,
      label: String
    },
    data() {
      return {
        loaded: false,
        preview: undefined,
        files: []
      }
    },
    mounted () {

      this.eventListener(document, 'drag dragstart dragend dragover dragenter dragleave drop', (e) => {
        e.preventDefault();
        e.stopPropagation();
      });

      this.eventListener(this.$refs['input'], 'dragover dragenter', () => this.onDragStart());
      this.eventListener(this.$refs['input'], 'dragleave dragend drop', () => this.onDragStop());
      this.eventListener(this.$refs['input'], 'drop', e => this.onDrop(e));
    },
    methods: {

      onDragStart () {
        this.$emit('dragenter');
        this.$refs['input'].classList.add('drag-over');
      },

      onDragStop () {
        this.$emit('dragleave');
        this.$refs['input'].classList.remove('drag-over');
      },

      addEvent (obj, type, fn) {
        if (obj.addEventListener) {

          obj.addEventListener(type, fn, false);

        } else if (obj.attachEvent) {

          obj.attachEvent('on' + type, function () {

            return fn.call(obj, window.event);

          });
        }
      },

      eventListener(el, events, listener) {
        events = events.split(' ');

        events.map(event => { this.addEvent(el, event, listener) })
      },

      clear () {
        this.$refs['file'].value = [];
        this.files = [];
      },

      onDrop (e) {
        e.preventDefault();

        if (e.dataTransfer.items) {

          for (let i = 0; i < e.dataTransfer.items.length; i++)
            if (e.dataTransfer.items[i].kind === 'file')
              this.addFile(e.dataTransfer.items[i].getAsFile())
        }

        this.$emit('input', this.files);
        this.$emit('drop', this.files);
        this.$emit('change', this.multiple ? this.files : this.files[0]);

        this.renderFile(this.files[0])
        this.clear();
      },

      onChange () {
        let files = this.$refs['file'].files;

        if (files){

          Object.keys(files).map(i => { this.addFile(files[i]) });

          this.$emit('input', this.files);
          this.$emit('change', this.multiple ? this.files : this.files[0]);
        }

        this.renderFile(this.files[0])
        this.clear();
      },

      target (event) {
        this.$refs['file'].click();
        this.$emit('click', event);
      },

      addFile (file) {

        if(this.type === undefined) {
          this.$emit('file', file)
          this.files.push(file);
        }
        else if(this.type === file.type || this.type.includes(file.type)) {

          this.$emit('file', file)
          this.files.push(file);
        }
      },

      renderFile(file) {

        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onloadend = () => {
          this.preview = reader.result;
        }
      }
    }
  }
</script>
