<template>
  <div class="menu-component-item">

    <div class="menu-bar">
      <span class="menu-title">{{label}}</span>
    </div>

    <div class="menu-row" style="padding-bottom: 8px;">
      <nav class="menu-nav">
        <span class="menu-nav-btn" :class="{'active': i === _value}" v-for="(item, i) in menu" :key="i" @click="_value = i">
          <i :class="item" v-if="item.substring(0, 2) === 'i-'"></i>
          {{item.substring(0, 2) === 'i-' ? '' : item}}
        </span>
      </nav>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MenuNav',
    props: {
      menu: Object,
      label: String,
      value: String
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    }
  }
</script>
