<template>
  <div class="menu-component-item">

    <div class="menu-bar" v-if="label">
      <span class="menu-title">{{label}}</span>
    </div>

    <div class="menu-row menu-select">
      <select ref="select" aria-label="" v-model="_value">
        <option v-for="(option, i) in options" :value="i" :key="i" :selected="_value === i">{{option}}</option>
      </select>
    </div>
  </div>
</template>

<script>
  import Choices from 'choices.js'

  export default {
    name: 'MenuSelect',
    props: {
      label: String,
      value: [String, Boolean, Number],
      options: Object
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    },
    mounted() {
      new Choices(this.$refs['select'], {
        searchEnabled: false
      });
    }
  }
</script>
