<template>
  <div class="menu-component-item">

    <div class="menu-bar">
      <span class="menu-title">{{label}}</span>
      <span class="menu-title ml-auto">{{_value}}</span>
    </div>

    <div class="menu-row" style="padding-bottom: 8px;">
      <div class="menu-slider" @click="onClick">
        <div class="slider-range"
             :class="style"
             ref="range">
        <span class="slider-road">
          <span class="range-fill" :style="{width: position+'%'}"></span>
        </span>
          <span class="slider-handle"
                :style="{left: position+'%'}"
                @touchstart="grabStart"
                @mousedown="grabStart"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MenuColor',
    props: {
      label: String,
      value: Number,
      min: {
        type: Number,
        default: 0
      },
      max: {
        type: Number,
        default: 100
      },
      step: {
        type: Number,
        default: 1
      }
    },
    computed: {
      _value: {
        get () {
          if(this.value < this.min)
            this.$emit('input', this.min);

          if(this.value > this.max)
            this.$emit('input', this.max);

          return this.value
        },
        set (value) {
          value = Math.floor(value / this.step) * this.step;

          if(value < this.min)
            value = this.min;

          if(value > this.max)
            value = this.max;

          this.$emit('input', value);
        }
      },
      position() {
        return Math.floor((this._value - this.min) / (this.max - this.min) * 100);
      },
      style() {
        return {
          'active': this.mouseIsDown,
          'range-success': this.success,
          'range-warning': this.warning,
          'range-danger': !this.valid,
          'range-primary': this.valid
        }
      }
    },
    data() {
      return {
        mouseIsDown: false
      }
    },
    mounted() {
      document.addEventListener('touchend', () => { this.grabEnd() });
      document.addEventListener('mouseup', () => { this.grabEnd() });
      document.addEventListener('mousemove', (e) => {
        if(this.mouseIsDown)
          this.setPos(e);
      });
    },
    methods: {

      grabStart(e) {
        e.preventDefault();
        this.mouseIsDown = true;
        this.$emit('dragstart', this._value);
      },
      setPos(e) {
        let rect = this.$refs['range'].getBoundingClientRect();
        let x = e.clientX - rect.left;

        this._value = this.min + (x / rect.width * (this.max - this.min));

        this.$emit('drag', this._value);
      },
      onClick(e) {
        let rect = this.$refs['range'].getBoundingClientRect();
        let x = e.clientX - rect.left;

        this._value = this.min + (x / rect.width * (this.max - this.min));

        this.$emit('click', this._value);
      },
      grabEnd() {
        this.mouseIsDown = false;
        this.$emit('dragend', this._value);
      }
    }
  }
</script>
