<template>
  <div class="menu-component-item">

    <div class="menu-bar">
      <span class="menu-title">{{label}}</span>
    </div>

    <div class="menu-row" style="padding-bottom: 8px;">
      <input class="menu-input" type="text" aria-label="" v-model="_value">
    </div>
  </div>
</template>

<script>
  export default {
    name: 'MenuText',
    props: {
      label: String,
      value: String
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    }
  }
</script>
