<template>
  <div class="menu-component-item">

  <div class="menu-bar">
    <span class="menu-title">{{label}}</span>
  </div>

  <div class="menu-row" style="padding-bottom: 8px;">
    <textarea class="menu-input" rows="4" aria-label="" v-model="_value"></textarea>
  </div>
</div>
</template>

<script>
  export default {
    name: 'MenuTextarea',
    props: {
      label: String,
      value: String
    },
    computed: {
      _value: {
        get () { return this.value },
        set (value) { this.$emit('input', value); }
      }
    }
  }
</script>
