<template>
  <div class="home-page">

    <div class="canvas-wrap" ref="canvas">
      <bg-layout :params="params"/>
    </div>

    <page-menu :params="params"/>
  </div>
</template>

<script>
  import BgLayout from './components/background'
  import PageMenu from './components/menu'

  export default {
    name: 'AnimationWaves',
    data () {
      return {
        params: {
          color: '#ff70a6',
          background: '#333',
          spaceDiameter: 32,
          dotDiameter: 14,
          wavelength: 100,
          velocity: .02,
          direction: 1,
          displacement: 1
        }
      }
    },
    methods: {
      fullScreen() {
        let element = this.$refs['canvas'];

        if(element.requestFullScreen)
          element.requestFullScreen();
        else if(element.mozRequestFullScreen)
          element.mozRequestFullScreen();
        else if(element.webkitRequestFullScreen)
          element.webkitRequestFullScreen();
      }
    },
    components: {
      BgLayout,
      PageMenu
    }
  }
</script>
