<template>
  <div class="home-page">
    <div class="container py-3">
      <router-link class="btn d-block btn-secondary mb-3 text-uppercase font-weight-bold btn-sm" :to="{name: 'Waves'}">Waves</router-link>
      <router-link class="btn d-block btn-secondary mb-3 text-uppercase font-weight-bold btn-sm" :to="{name: 'Rainbow_Stars'}">Rainbow Stars</router-link>
      <router-link class="btn d-block btn-secondary mb-3 text-uppercase font-weight-bold btn-sm" :to="{name: 'Particles'}">Particles</router-link>
      <router-link class="btn d-block btn-secondary mb-3 text-uppercase font-weight-bold btn-sm" :to="{name: 'Maze'}">Maze</router-link>
      <router-link class="btn d-block btn-secondary mb-3 text-uppercase font-weight-bold btn-sm" :to="{name: 'Noise'}">Noise</router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'HomePage'
  }
</script>
