<template>
	<canvas class="canvas" :style="style"></canvas>
</template>

<script>
	export default {
		props: {
      params: Object
		},
		data() {
			return {
				particles: [],
        aFrame: undefined
			}
		},
    computed: {
		  style() {
		    return {
          background: this.params.background
        }
      }
    },
    watch: {},
		mounted() {

			this.$ = this.$el.getContext('2d');

			this.resize();

			window.addEventListener('resize', this.resize);
		},
		beforeDestroy() {

      if(this.aFrame)
        window.cancelAnimationFrame(this.aFrame);

			window.removeEventListener('resize', this.resize);
		},
		methods: {

			w() { return this.$el.clientWidth },
			h() { return this.$el.clientHeight },

			resize() {

			  if(this.aFrame)
          window.cancelAnimationFrame(this.aFrame);

				this.$el.width = this.w();
				this.$el.height = this.h();

        this.generate();
			},

			generate() {

        setInterval( () => {
          if (this.particles.length < this.params.amount) {

            let x = this.random(-200, this.w() + 200, true);
            let y = this.random(-200, this.h() + 200, true);

            this.particles.push(new Spark(this, x, y));
          }
        }, 1000 / this.params.amount);

        this.loop();
			},

			draw(){
        this.$.fillStyle = this.hexToRGBA(this.params.background, .1);
        this.$.fillRect(0, 0, this.w(), this.h());

				for (let i = 0, len = this.particles.length; i < len; i++)
					this.particles[i].update();
			},

			loop() {
        this.aFrame = requestAnimationFrame(() => { this.loop() });

				this.draw();
			},

			hexToRGBA(hex, alpha = 1) {

				if(/^#([A-Fa-f0-9]{3}){1,2}$/.test(hex)){
					let c = hex.substring(1).split('');

					if(c.length === 3)
						c= [c[0], c[0], c[1], c[1], c[2], c[2]];

					c = '0x'+c.join('');

					return 'rgba('+[(c>>16)&255, (c>>8)&255, c&255].join(',')+', '+alpha+')';
				}

				throw new Error('Bad Hex');
			},

			random(min, max, round) {

				let rand = Math.random() * (max - min + 1) + min;

				if (round === true) return Math.floor(rand);
				else return rand;
			}
		}
	}

  class Spark {
    constructor($parent, x, y) {

      this.$parent = $parent;
      this.params = $parent.params;

      this.x = x;
      this.y = y;

      this.age = 0;
      this.acceleration = this.$parent.random(this.params.acceleration[0], this.params.acceleration[1], true);

      this.color = this.params.randColor
        ? this.$parent.random(0,255, true) + "," + this.$parent.random(0,255, true) + "," + this.$parent.random(0, 255, true)
        : this.$parent.hexToRGBA(this.params.color).replace('rgba(', '').replace(', 1)', '')
    }

    update() {
      this.x += this.params.speed * this.params.direction.x * this.acceleration / 2
      this.y += this.params.speed * this.params.direction.y * this.acceleration / 2

      this.opacity = this.params.maxopacity - ++this.age / this.params.lifetime;

      this.draw();
    }

    draw() {
      this.$parent.$.beginPath();
      this.$parent.$.fillStyle = `rgba(${this.color}, ${this.opacity})`;
      this.$parent.$.rect(this.x, this.y, this.params.size, this.params.size, 0, 0, Math.PI * 2);
      this.$parent.$.fill();
    }
  }
</script>
