<template>
  <div class="menu">
    <div class="menu-component">

      <menu-slider label="Rain Size" v-model="params.size" :min="1" :max="10"/>

      <menu-slider label="Life Time" v-model="params.lifetime" :min="10" :max="500"/>

      <menu-slider label="Rain Speed" v-model="speed" :min="10" :max="200"/>

      <menu-checkbox label="Random Color" v-model="params.randColor"/>
      <menu-color v-model="params.color"/>

      <menu-color label="Background Color" v-model="params.background"/>

      <menu-slider label="Rain Direction" v-model="direction" :min="-100" :max="100"/>
    </div>

    <div class="menu-component">
      <div class="menu-row">
        <span class="menu-btn" @click="$parent.fullScreen">Open Fullscreen</span>
      </div>
    </div>
  </div>
</template>

<script>
  import MenuSlider from '../../_components/input/slider'
  import MenuSelect from '../../_components/input/select'
  import MenuText from '../../_components/input/text'
  import MenuTextarea from '../../_components/input/textarea'
  import MenuCheckbox from '../../_components/input/checkbox'
  import MenuColor from '../../_components/input/color'
  import MenuImage from '../../_components/input/image'
  import MenuNav from '../../_components/input/nav'

  export default {
    name: 'Menu',
    props: {
      params: Object
    },
    computed: {
      speed: {
        set(val) {
          this.params.speed = val * .001
        },
        get() {
          return Math.round(this.params.speed * 1000);
        }
      },
      direction: {
        set(val) {
          this.params.direction.x = val * .01
        },
        get() {
          return Math.round(this.params.direction.x * 100);
        }
      }
    },
    methods: {},
    components: {
      MenuColor,
      MenuSelect,
      MenuSlider,
      MenuNav,
      MenuImage,
      MenuCheckbox,
      MenuTextarea,
      MenuText
    }
  }
</script>
