<template>
  <div class="home-page">

    <div class="canvas-wrap" ref="canvas">
      <bg-layout :params="params"/>
    </div>

    <page-menu :params="params"/>
  </div>
</template>

<script>
  import BgLayout from './components/background'
  import PageMenu from './components/menu'

  export default {
    name: 'AnimationWaves',
    data () {
      return {
        params: {
          color: '#ff70a6',
          background: '#333',

          particleCount: 700,
          particlePropCount: 9,
          rangeY: 100,
          baseTTL: 50,
          rangeTTL: 150,
          baseSpeed: 0.1,
          rangeSpeed: 2,
          baseRadius: 1,
          rangeRadius: 4,
          baseHue: 220,
          rangeHue: 100,
          noiseSteps: 8,
          xOff: 0.00125,
          yOff: 0.00125,
          zOff: 0.0005
        }
      }
    },
    methods: {
      fullScreen() {
        let element = this.$refs['canvas'];

        if(element.requestFullScreen)
          element.requestFullScreen();
        else if(element.mozRequestFullScreen)
          element.mozRequestFullScreen();
        else if(element.webkitRequestFullScreen)
          element.webkitRequestFullScreen();
      }
    },
    components: {
      BgLayout,
      PageMenu
    }
  }
</script>
